/*
 * Header layout
 */
body > header {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/images/header-background.png");
}

/* For Tablet and Desktop Device */
@media screen and (min-width: 768px) {
  body {
    padding-top: 120px;
  }
  
  body > header {
    margin-left: 5%;
    margin-right: 2.5%;
    width: 40%;
    float: left;
  }
  
  main {
    margin-left: 2.5%;
    margin-right: 5%;
    width: 45%;
    float: right;
  }
}

