main .new-tweet {
  padding-bottom: 50px;
}

main textarea {
  font-size: 16px;
  width: 100%;
  height: 2em;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: black;
  border-bottom-width: 2px;
}

main div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main button {
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  font-size: 16px;
}

main output.counter {
  color: black;
  font-family: 'Bungee', cursive;
  font-size: 16px;
}

main output.invalid {
  color: red;
  font-family: 'Bungee', cursive;
  font-size: 16px;
}