main .new-tweet {
  padding-bottom: 50px;
  display: none;
}

main textarea {
  font-size: 16px;
  width: 100%;
  height: 3em;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: black;
  border-bottom-width: 2px;
}

main div.submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main div.warning {
  display: none;
  color: red;
  font-size: 0.65em;
  font-style: normal;
  font-weight: bold;
  border: 2px solid red;
  padding: 5px;
  margin-top: 10px;
}

main button {
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  font-size: 16px;
}

main output.counter {
  color: black;
  font-family: 'Bungee', cursive;
  font-size: 16px;
}

main output.invalid {
  color: red;
  font-family: 'Bungee', cursive;
  font-size: 16px;
}